// .gap-element:nth-child(1) {
//     grid-row-start: 1;
//     grid-column-start: 5;
// }
.gap-element:nth-child(1) {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}
.featured-items__card{
    grid-column: span 3;
}
// .featured-items__card:nth-child(3)  {
//     grid-row-start: 2;
//     grid-column-start: 2;
// }