//screen sizes
// :root {
//     --mobile: 576px;
//     --md-tablet: 768px;
//     // --lg-tablet: 992px;
//     --lg-tablet: 1024px;
//     // --laptop: 1200px;
//     --laptop: 1280px;
//     --md-desktop: 1400px;
//     --lg-desktop: 1700px; 
// }
$mobile: 576px;
$md-tablet: 768px;
// $lg-tablet: 992px;
$lg-tablet: 1024px;
// $laptop: 1200px;
$laptop: 1280px;
$md-desktop: 1400px;
$lg-desktop: 1920px;
