:root {
        --accent-red-100: #f2dcdc;
        --accent-red-200: #f7baba;
        --accent-red-300: #ffa3a3;
        --accent-red-400: #ff8080;
        --accent-red-500: #fa5757;
        --accent-red-600: #cc3030;
        --accent-red-700: #a31616;
        --accent-red-800: #750c0c;
        --accent-red-900: #420101;
        --accent-cyan-100: #dff2f2;
        --accent-cyan-400: #b1f2f2;
        --accent-cyan-700: #80f1f2;
        --accent-cyan-200: #48eef0;
        --accent-cyan-500: hsla(187, 98%, 44%, 1);
        --accent-cyan-800: #07abad;
        --accent-cyan-300: #078385;
        --accent-cyan-600: #056263;
        --accent-cyan-900: #013f40;
        --primary-orange-100: #f2eadc;
        --primary-orange-200: #f7e0ba;
        --primary-orange-300: #ffdca3;
        --primary-orange-400: #ffce80;
        --primary-orange-500: hsla(26, 75%, 51%, 1);
        --primary-orange-600: #cc9030;
        --primary-orange-700: #ab741d;
        --primary-orange-800: #875a12;
        --primary-orange-900: #422901;
        --natural-grey-100: hsla(230, 16%, 90%, 1);
        --natural-grey-200: hsla(230, 18%, 83%, 1);
        --natural-grey-300: hsla(230, 13%, 72%, 1);
        --natural-grey-400: hsla(230, 12%, 57%, 1);
        --natural-grey-500: hsla(230, 12%, 43%, 1);
        --natural-grey-600: hsla(230, 22%, 29%, 1);
        --natural-grey-700: hsla(230, 27%, 18%, 1);
        --natural-grey-800: hsla(230, 35%, 13%, 1);
        --natural-grey-900: hsla(230, 51%, 8%, 1);
        --accent-yellow-100: #f2eddc;
        --accent-yellow-200: #f7e8ba;
        --accent-yellow-300: #ffe8a3;
        --accent-yellow-400: #ffe080;
        --accent-yellow-500: hsla(53, 75%, 51%, 1);
        --accent-yellow-600: #cca530;
        --accent-yellow-700: #a38016;
        --accent-yellow-800: #755b0c;
        --accent-yellow-900: #423201;
        --primary-blue-100: #e3e7fc;
        --primary-blue-200: #bbc6fc;
        --primary-blue-300: #7a90ff;
        --primary-blue-500: hsla(219, 88%, 47%, 1);
        --primary-blue-600: #304acc;
        --primary-blue-700: #162ea3;
        --primary-blue-800: #0c1d75;
        --primary-blue-900: #010c42;
        --natural-black: hsla(216, 71%, 5%, 1 );
        --natural-white: hsla(0, 0%, 100%, 1) ;

        // box shadow
        --drop-shadow-project-desktop:  drop-shadow(5px 10px 23px rgba(0, 0, 0, 0.25));
        --drop-shadow-project-tablet:  drop-shadow(0px 9px 41px rgba(0, 0, 0, 0.32));
        --drop-shadow-project-mobile:  drop-shadow(1px 11px 60px rgba(0, 0, 0, 0.52));
}
